{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "semi": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
